
*,
*::after,
*::before {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
  width: 100%;
  background-color: #f2f2f2;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 300px 0px rgba(163,163,163,1);
}

.main-header {
  position: relative;
  list-style: none;
  background-color: #ffffff;
}

.main-header a {
  font-weight: 700;
  color: #000000;
}

.main-header a:hover {
  color: #81b3d2;
}

.main-header a:active {
  color: rgba(0,0,0,0.3);
}

.logo {
  position: absolute;
  left: 50%;
  width: 138px;
  height: 70px;
  transform: translateX(-50%);
  z-index: 1;
}

.main-navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation-item {
  width: 240px;
  word-wrap: break-word;
  padding-top: 14px;
  padding-bottom: 16px;
  text-align: center;
}

.main-navigation-item a {
  width: 200px;
}

.main-navigation-item:nth-child(1) {
  padding-right: 2px;
}

.main-navigation-item:nth-child(2) {
  padding-left: 3px;
  margin-right: auto;
}

.main-navigation-item:nth-child(3) {
  padding-left: 3px;
  letter-spacing: 0.5px;
}

.main-navigation-item:nth-child(4) {
  padding-left: 18px;
}

.main-container {
  background-color: #ffffff;
}

.promo {
  position: relative;
  min-height: 554px;
  padding-top: 76px;
  background-color: #779fc2;
  background-image: url("../img/index-background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 75px 0px;
}

.promo img {
  display: block;
  margin: 0 auto;
}

.promo::before {
  content:"";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 103px;
  background-image: url("../img/logo-mask.png");
  background-repeat: no-repeat;
}

.intro {
  width: 576px;
  margin: 0 auto;
  margin-bottom: 51px;
  text-align: center;
}

.intro h1 {
  font-weight: 700;
  font-size:21px;
  color: #000000;
}

.intro p {
  padding-top: 13px;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.advantages-item {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  text-align: center;
}

.advantages-item:nth-child(1),
.advantages-item:nth-child(2) {
  background-color: #81b3d2;
  color: #ffffff;
}

.advantages-item:nth-child(1) h2,
.advantages-item:nth-child(2) h2 {
  color: #ffffff;
}

.advantages-item:nth-child(3),
.advantages-item:nth-child(4),
.advantages-item:nth-child(5) {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  min-height: 255px;
  background-color: #eeeeee;
}

.advantages-item>div {
  width: 305px;
  margin: 0 auto;
  padding-top: 47px;
  line-height: 21px;
}

.advantages-item:nth-child(3) h2,
.advantages-item:nth-child(4) h2,
.advantages-item:nth-child(5) h2 {
  margin-top: 47px;
  margin-bottom: 24px;
  line-height: 21px;
}

.advantages-item:nth-child(3) p,
.advantages-item:nth-child(4) p,
.advantages-item:nth-child(5) p {
  margin: 0;
  width: 280px;
  line-height: 21px;
}

.advantages-item:nth-child(3) p:nth-child(3),
.advantages-item:nth-child(4) p:nth-child(3),
.advantages-item:nth-child(5) p:nth-child(3) {
  margin-top: 21px;
}

.advantages-item h2 {
  width: 155px;
  margin: 0 auto;
}

.advantages-item-description p {
  margin-top: 24px;
}

.advantages-item-description h2 {
  font-weight: 700;
  font-size:21px;
  color: #000000;
}

.advantages-item-description p:nth-child(3) {
  margin-top: 21px;
  margin-bottom: 50px;
}

.additional-advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  background-color: #ffffff;
}

.additional-advantages-item {
  width: 400px;
  min-height: 330px;
}

.additional-advantages-item h3 {
  font-weight: 700;
  font-size:21px;
  color: #000000;
  margin-top: 40px;
}

.additional-advantages-item p {
  width: 287px;
  margin: 0 auto;
  line-height: 21px;
  color: #333333;
}

.additional-advantages-item h3::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  margin-bottom: 19px;
  background-repeat: no-repeat;
}

.additional-advantages-item:nth-child(1n) h3::before {
  background-image: url("../img/icon-1.svg");
  background-position: 50% 70%;
}

.additional-advantages-item:nth-child(2n) h3::before {
  background-image: url("../img/icon-2.svg");
  background-position: 45% 70%;
}

.additional-advantages-item:nth-child(3n) h3::before {
  background-image: url("../img/icon-3.svg");
  background-position: 50% 65%;
}

.book-hotels {
  position: relative;
  width: 576px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}

.book-hotels b {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.book-hotels>p {
  margin-top: 22px;
}

.book-hotels>.button {
  display: block;
  align-self: center;
  width: 568px;
  margin-top: 45px;
  margin-left: 4px;
  padding: 30px 0;
}

.button {
  border: 0;
  font-weight: 700;
  font-size: 21px;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}

.button-brown {
  background-color: #766357;
}

.button-brown:hover {
  background-color: #604e43;
}

.button-brown:active {
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}

.search-form {
  position: absolute;
  top: 100%;
  left: 4px;
  width: 568px;
  margin: 0 auto;
  padding-bottom: 55px;
  background-color: #ffffff;
  box-shadow: 0px 0px 27px 0px rgba(85,85,85,1);
  z-index: 1;
}

.search-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search-form-sets {
  position: relative;
  font-size: 0;
  margin: 0;
}

.search-form-sets:nth-child(1n) {
  display: flex;
}

.search-form-sets:nth-child(1) {
  margin-top: 55px;
}

.search-form-sets:nth-child(2n) {
  margin-top: 29px;
  margin-bottom: 30px;
}

.search-form-sets label {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 100px;
  margin-left: 57px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 38px;
}

.search-form-sets input {
  width: 346px;
  min-height: 38px;
  padding: 10px 0;
  padding-left: 13px;
  border: none;
  background-color: #f2f2f2;
  font-size: 14px;
}
.calendar {
  position: absolute;
  border: 0;
  padding: 0;
  background: none;
  left: 94.5%;
  transform: translateY(35%);
}
.calendar:hover path,
.calendar:hover rect {
  fill:#000000;
}
.calendar:active path,
.calendar:active rect {
  fill:#81b3d2;
}
.search-form-sets input:hover {
  background-color: #ebebeb;
  color: #000000;
}

.search-form-sets input:focus {
  outline: 2px solid #e5e5e5;
  background-color: #ffffff;
}

.search-form-sets input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
}

.search-form-sets input::-moz-placeholder {
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
}

.search-form-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
}

.adults label {
  margin-left: 54px;
  margin-right: 14px;
}

.child label {
  width: 55px;
  margin-left: 53px;
}

.output {
  font-size: 14px;
  width: 38px;
  height: 38px;
  font-weight: 700;
  line-height: 38px;
  background-color: #f2f2f2;
}

.btn {
  font-size: 0;
  position: relative;
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
}

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  width: 12px;
  height: 3px;
  top: 18px;
  left: 12px;
  background-color: #a9a9a9;
}

.btn:hover {
  background-color: #ebebeb;
}

.btn:hover::before,
.btn:hover::after {
  background-color: #000000;
}

.btn:active::before,
.btn:active::after {
  background-color: #81b3d2;
}

.plus:after {
  transform: rotate(90deg);
}

.search-form .button {
  align-self: center;
  width: 458px;
  min-height: 59px;
  margin-top: 53px;
}

.map {
  width:1200px;
  height: 593px;
  background-color: #d7e3bf;
  background-image: url("../img/map.jpg");
}

.map iframe {
  border: 0;
}

.main-footer {
  position: relative;
  width: 1200px;
  margin-top: -120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  min-height: 120px;
  background-color: rgba(255,255,255,0.7);
}

.main-footer b {
  margin-left: 133px;
  font-size: 21px;
}

.main-footer-extra {
  position: static;
  margin-top: 0;
}

.social-buttons-list {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-left: 256px;
  padding: 0;
  list-style: none;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-button a {
  position: relative;
  width: 46px;
  height: 48px;
  font-size: 0;
}

.social-button svg {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.social-button:active path {
  fill: rgba(255,255,255,0.3);
}

.copyright {
  display: flex;
  margin-left: 228px;
}

.copyright span {
  margin-top: 19px;
}

.copyright a {
  margin-left: 8px;
  margin-top: 12px;
  font-size: 0;
}

.copyright:hover path,
.copyright:hover rect {
  fill:#81b3d2;
}

.copyright:active path,
.copyright:active rect {
  fill:#bdbbbc;
}

/*Стили для hotels.html*/

.current-page {
  color: #766357;
  font-weight: 700;
}

.filters-form {
  min-height: 217px;
  line-height: 21px;
  color: #ffffff;
  background-color: #779fc2;
  background-image: url("../img/filter background.jpg");
  background-position: 0 -55px;
}

.filters-form form {
  display: flex;
  padding-top: 27px;
  min-height: 217px;
}

.filters-set {
  padding: 0;
  margin: 0;
  border: none;
}

.filters-set:nth-child(1) {
  margin-right: 119px;
  margin-left: 72px;
}

.filters-set:nth-child(1) label::before {
  margin-right: 12px;
}

.filters-set:nth-child(2) label::before {
  margin-right: 14px;
}

.filters-set legend {
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 16px;
}

.filters-set p {
  margin: 0;
  margin-bottom: 23px;
}


.filters-checkbox:focus+label::before {
  filter: drop-shadow(0 0 5px rgba(255,255,0,0.9));
}

.filters-set label {
  user-select: none;
}

.filters-set label::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 27px;
  height: 23px;
  margin-right: 14px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filters-form input:checked+label::before {
  background-image: url("../img/checkbox-on.svg");
}

.filters-form input:disabled+label,
.filters-form input:disabled+label::before {
  opacity: 0.3;
}

.price-day {
  display: flex;
  flex-direction: column;
  width: 318px;
  padding: 0;
  margin: 0;
  margin-left: auto;
  margin-right: 71px;
  border: none;
}

.price-day span {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 10px;
}

.price-controls {
  position: relative;
  box-sizing: content-box;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 32px;
  cursor: pointer;
  text-align: center;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 50%;
}

.price-controls output {
  width: 30px;
  padding: 0;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  box-sizing: content-box;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.button-search {
  width: 137px;
  min-height: 36px;
  margin-left: 85px;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  text-align: center;
  line-height: 32px;
  text-transform: uppercase;
}

.button-search:hover {
  background-color: #ffffff;
  color: #000000;
}

.hotels-selected {
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
}

.search-results {
  display: flex;
  align-items: baseline;
  min-height: 86px;
  border-bottom: 1px solid #e5e5e5;
}
.search-results b {
  margin-top: 30px;
  margin-left: 72px;
  margin-right: 5px;
  font-size: 21px;
  font-weight: 700;
}
.search-results output {
  font-size: 21px;
  font-weight: 700;
}

.search-results>span {
  margin-left: 48px;
  font-size: 12px;
  line-height: 18px;
}

.hotels-sort-list {
  list-style: none;
  font-size: 0;
  padding: 0;
  margin:0;
  margin-left: 40px;
}

.hotels-sort-item {
  display: inline-block;
  vertical-align: top;
  font-size: 12px;
  line-height: 18px;
}
.hotels-sort-item:not(:nth-child(1)) {
  margin-left: 33px;
}

.hotels-sort-item a {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dotted #81b3d2;
}

.hotels-sort-item a:hover {
  color: #81b3d2;
}

.hotels-sort-item a:active {
  color: #000000;
  border: none;
}

.current-sort {
  color: #81b3d2;
}

.hotels-sequence-list {
  align-self: center;
  list-style: none;
  font-size: 0;
  padding: 0;
  margin-left:auto;
  margin-right:67px;
  margin-top: 1px;
}

.hotels-sequence-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 6px;
}

.btn-up a:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
}

.btn-down a:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-down-dir-active.svg");
  background-repeat: no-repeat;
}

.btn-up:hover a:after {
  background-image: url("../img/icon-up-dir-hover.svg");
}

.btn-down:hover a:after {
  background-image: url("../img/icon-down-dir-hover.svg");
}

.btn-up:active a:after {
  background-image: url("../img/icon-up-dir-active.svg");
}

.btn-down:active a:after {
  background-image: url("../img/icon-down-dir-active.svg");
}

.hotels-selected-list {
  box-sizing: content-box;
  list-style: none;
  margin: 0;
  padding: 0;
}

.hotels-selected-item {
  display: flex;
  align-items: center;
  min-height: 150px;
  border-bottom: 1px solid #e5e5e5;
}

.hotels-selected-item img {
  margin-left: 72px;
}

.hotels-selected-info {
  display: flex;
  flex-direction: column;
  min-height: 150px;
  margin-left: 30px;
}

.hotels-selected-info>a {
  margin-top: 25px;
  margin-bottom: 7px;
  font-weight: 700;
  font-size:21px;
  color: #000000;
}
.hotels-selected-info>a:hover {
  color: #81b3d2;
}

.hotels-selected-info a:active {
  color: rgba(0,0,0,0.3);
}

.hotels-description {
  font-size: 0;
}
.hotels-description span {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 21px;
}

.hotels-description span:nth-child(1) {
  width: 110px;
}

.hotels-description span:nth-child(2) {
  margin-left:6px;
}

.hotels-buttons {
  font-size: 0;
  margin-top: auto;
  margin-bottom: 30px;
}

.hotels-buttons .button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 110px;
  min-height: 27px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

.hotels-buttons .button-brown {
  width: 142px;
  margin-left: 6px;
}
.hotels-selected-ratio {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: auto;
  margin-right: 70px;
  min-height: 90px;
}
.ratio-stars {
  font-size: 0;
  background-image: url("../img/star.svg");
}

.ratio-stars-four {
  width: 96px;
  height: 17px;
}

.ratio-stars-three {
  width: 72px;
  height: 17px;
}

.ratio-stars-two {
  width: 48px;
  height: 17px;
}

.ratio-ratio {
  width: 110px;
  min-height: 27px;
  margin-top: auto;
  margin-right: 1px;
  color: #666666;
  background-color: #f2f2f2;
  text-align: center;
}
