
*,
*::after,
*::before {
  box-sizing: inherit;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
  width: 100%;
}
h1,
h2,
h3 {
  font-weight: 700;
  font-size:21px;
  color: #000000;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
  list-style: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 0px 300px 0px rgba(163,163,163,1);
}
.main-header {
  position: relative;
  list-style: none;
  background-color: #ffffff;
}
.main-header a {
  font-weight: 700;
  color: #000000;
}
.main-header a:hover {
  color: #81b3d2;
}
.main-header a:active {
  color: rgba(0,0,0,0.3);
}
.logo {
  position: absolute;
  left: 50%;
  width: 138px;
  height: 70px;
  transform: translateX(-50%);
  z-index: 1;
}
.main-navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-navigation-item {
  width: 240px;
  padding: 15px 0;
  text-align: center;
}
.main-navigation-item:nth-child(2) {
  margin-right: 240px;
}
.main-container {
  background-color: #ffffff;
}
.promo {
  position: relative;
  min-height: 554px;
  padding-top: 76px;
  background-image: url("../img/index-background.jpg");
  background-repeat: no-repeat;
  background-position: 0 -56px;
}
.promo img {
  display: block;
  margin: 0 auto;
}
.promo::before {
  content:"";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 1200px;
  height: 103px;
  background-image: url("../img/logo-mask.png");
  background-repeat: no-repeat;
}
.intro {
  width: 576px;
  margin: 0 auto;
  margin-bottom: 51px;
  text-align: center;
}
.intro p {
  padding-top: 13px;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}
.advantages-list>li:nth-child(1),
.advantages-list>li:nth-child(2) {
  background-color: #81b3d2;
  color: #ffffff;
}
.advantages-list>li:nth-child(1) h2,
.advantages-list>li:nth-child(2) h2{
  color: #ffffff;
}
.advantages-list>li:nth-child(3),
.advantages-list>li:nth-child(4),
.advantages-list>li:nth-child(5) {
  background-color: #eeeeee;
}
.advantages-item {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  text-align: center;
}
.advantages-item:nth-child(3),
.advantages-item:nth-child(4),
.advantages-item:nth-child(5) {
  width: 400px;
  min-height: 255px;
}
.advantages-item>div {
  width: 305px;
  margin: 0 auto;
  padding-top: 47px;
  line-height: 21px;
}
.advantages-item h2 {
  width: 155px;
  margin: 0 auto;
}
.advantages-item>div p {
  margin-top: 24px;
}
.advantages-item>div p:nth-child(3) {
  margin-top: 21px;
}
.advantages-item img {
  width: 800px;
  height: 256px;
}
.additional-advantages-list {
  display: flex;
  padding: 0;
  background-color: #ffffff;
}
.additional-advantages-item {
  width: 400px;
  min-height: 330px;
}
.additional-advantages-item>div{
  width: 275px;
  min-height: 190px;
  margin: 0 auto;
  margin-top: 40px;
  line-height: 21px;
}
.additional-advantages-item>div::before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  background-repeat: no-repeat;
}
.additional-advantages-item:nth-child(1)>div::before {
  background-image: url("../img/icon-1.svg");
  background-position: 50% 70%;
}
.additional-advantages-item:nth-child(2)>div::before {
  background-image: url("../img/icon-2.svg");
  background-position: 45% 70%;
}
.additional-advantages-item:nth-child(3)>div::before {
  background-image: url("../img/icon-3.svg");
  background-position: 50% 65%;
}
.additional-advantages-item p {
  padding-top: 2px;
  color: #333333;
}
.book-hotels {
  position: relative;
  width: 576px;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.book-hotels b {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}
.book-hotels>p {
  margin-top: 22px;
}
.book-hotels>.button {
  align-self: center;
  margin-top: 32px;
  padding: 30px 140px;
}
.button {
  border: 0;
  font-weight: 700;
  font-size: 21px;
  background-color: #81b3d2;
  color: #ffffff;
  text-transform: uppercase;
}
.button:hover {
  background-color: #669ec0;
}
.button:active {
  background-color: #5496bd;
  color: rgba(255,255,255,0.3);
}
.button-brown {
  background-color: #766357;
}
.button-brown:hover{
  background-color: #604e43;
}
.button-brown:active{
  background-color: #503e33;
  color: rgba(255,255,255,0.3);
}
.search-form {
  position: absolute;
  top: 100%;
  left: 3px;
  background-color: #ffffff;
  width: 568px;
  margin: 0 auto;
  padding-bottom: 55px;
}
.search-form form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.search-form-sets {
  margin: 0;
}
.search-form-sets:nth-child(1) {
  margin-top: 55px;
}
.search-form-sets:nth-child(2) {
  margin-top: 30px;
}
.search-form-sets:nth-child(3) {
  display: flex;
  margin-top: 29px;
}
.search-form-sets label {
  display: inline-block;
  text-align: left;
  width: 100px;
  margin-left: 55px;
  margin-right: 10px;
  font-weight: 700;
}
.search-form-sets input {
  width: 346px;
  min-height: 38px;
  padding: 10px;
  border: none;
  background-color: #f2f2f2;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: 97% center;
}
.search-form-sets input:hover {
  background-image: url("../img/calendar-hover.svg");
  background-color: #ebebeb;
  color: #000000;
}
.search-form-sets input:active {
  background-image: url("../img/calendar-active.svg");
}
.search-form-sets input:focus {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}
.search-form-sets input::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
}
.search-form-sets input::-moz-placeholder {
  text-transform: uppercase;
  color: #000000;
  font-weight: 700;
}
.search-form-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
}
.child label {
  width: 55px;
}
.output {
  width: 38px;
  height: 38px;
  font-weight: 700;
  background-color: #f2f2f2;
}
.btn {
  font-size: 0;
  position: relative;
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
}
.btn:before,
.btn:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 3px;
  top: 18px;
  left: 12px;
  background-color: #a9a9a9;
}
.btn:hover {
  background-color: #ebebeb;
}
.btn:hover::before,
.btn:hover::after {
  background-color: #000000;
}
.btn:active::before,
.btn:active::after {
  background-color: #81b3d2;
}
.plus:after {
  transform: rotate(90deg);
}
.search-form .button {
  align-self: center;
  width: 458px;
  min-height: 59px;
  margin-top: 55px;
}
.main-footer {
  position: absolute;
  width: 1200px;
  bottom: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 127px;
  background-color: rgba(255,255,255,0.7);
}
.main-footer b {
  margin-top: 45px;
  margin-left: 133px;
  font-size: 21px;
}
.social-buttons-list {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin-top: 35px;
  margin-left: 255px;
  padding: 0;
  list-style: none;
}
.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-button a {
  position: relative;
  width: 46px;
  height: 48px;
  font-size: 0;
}
.social-button svg {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
.social-button svg:active path {
  fill: rgba(255,255,255,0.3);
}
.copyright {
  display: flex;
  align-items: center;
  margin-top: 28px;
  margin-left: 230px;
}
.copyright a {
  margin-left: 8px;
  margin-top: 10px;
  font-size: 0;
}
.copyright svg:hover path,
.copyright svg:hover rect {
  fill:#81b3d2;
}
.copyright svg:active path,
.copyright svg:active rect {
  fill:#bdbbbc;
}


/*Стили для hotels.html*/

.current-page {
  color: #766357;
}
.filters-form {
  line-height: 21px;
  color: #ffffff;
  background-image: url("../img/filter background.jpg")
}
.filters-form fieldset {
  border: none;
}
.filters-form legend {
  font-weight: 700;
  font-size: 16px;
}
.filters-form input[type="checkbox"] {
  display: none;
}
.filters-form input+label::before {
  content: "";
  display: inline-block;
  width: 27px;
  height: 23px;
  margin-right: 14px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}
.filters-form input:checked+label::before {
  background-image: url("../img/checkbox-on.svg");
}
.filters-form input:disabled+label::before {
  background-image: url("../img/checkbox-off-disabled.svg");
}
.price-per-day label {
  font-weight: 700;
  font-size: 16px;
}
.price-per-day output {
  border: 2px solid #ffffff;
  background-color: rgba(0,0,0,0);
  color: #ffffff;
  text-transform: uppercase;
}
.button-search {
  border: 2px solid #ffffff;
  background-color: rgba(0,0,0,0);
  color: #ffffff;
  text-transform: uppercase;
}
.button-search:hover {
  background-color: #ffffff;
  color: #000000;
}
.search-results b,
.search-results output {
  font-size: 23px;
  font-weight: 700;
}
.search-results span {
  font-size: 12px;
  line-height: 18px;
}
.hotels-sort-list {
  list-style: none;
}
.hotels-sort-item {
  font-size: 12px;
  line-height: 18px;
}
.hotels-sort-item a {
  color: rgba(0,0,0,0.3);
  border-bottom: 1px dashed #81b3d2;
}
.hotels-sort-item a:hover {
  color: #81b3d2;
}
.hotels-sort-item a:active {
  color: #000000;
  border: none;
}
.current-sort {
  color: #81b3d2;
}
.hotels-sequence-list {
  list-style: none;
}
.hotels-sequence-item a {
  font-size: 0;
}
.btn-up a:after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-up-dir.svg");
  background-repeat: no-repeat;
}
.btn-down a:after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 10px;
  background-image: url("../img/icon-down-dir-active.svg");
  background-repeat: no-repeat;
}
.btn-up:hover a:after {
  background-image: url("../img/icon-up-dir-hover.svg");
}
.btn-down:hover a:after {
  background-image: url("../img/icon-down-dir-hover.svg");
}
.btn-up:active a:after {
  background-image: url("../img/icon-up-dir-active.svg");
}
.btn-down:active a:after {
  background-image: url("../img/icon-down-dir-active.svg");
}
.hotels-selected-list {
  list-style: none;
}
.hotels-selected-info>a {
  font-weight: 700;
  font-size:21px;
  color: #000000;
}
.hotels-selected-info>a:hover {
  color: #81b3d2;
}
.hotels-selected-info>a:active {
  color: rgba(0,0,0,0.3);
}
.hotels-buttons a{
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}
.ratio-ratio {
  color: #666666;
  background-color: #f2f2f2;
}
